body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
    font-weight: 600;
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.top-section{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(45deg ,lightsalmon,tomato);
    padding: 10px 25px;
    color: white;
    font-weight: 700;
}